@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative">
    <div class="auth-box row">
        <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(../../Admin/assets/images/anasayfa-petroteks-1-2.png);">
        </div>
        <div class="col-lg-5 col-md-7 bg-white">
            <div class="p-3">
                <div class="text-center">
                    <img src="~/Admin/assets/images/logopetroteks.png" alt="wrapkit" width="160px">
                </div>
                <h2 class="mt-3 text-center">Giriş</h2>
                <p class="text-center text-danger" style="display:none;">Hatalı Giriş Lütfen Tekrar Deneyin</p>
                <form class="mt-4" method="post" asp-area="Admin" asp-controller="Home" asp-action="Login">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="text-dark" asp-for="Email">Email</label>
                                <input class="form-control"asp-for="Email"  type="text"
                                       placeholder="Lütfen email giriniz">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="text-dark" asp-for="Password">Şifre</label>
                                <input class="form-control" asp-for="Password" type="password"
                                       placeholder="Lütfen şifreyi giriniz">
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-block rounded btn-dark">Giriş</button>
                        </div>
                        <div class="col-lg-12 text-center mt-5">
                            Editörlük için --> <a asp-area="Admin" asp-controller="Home" asp-action="Register" class="text-info">Kayıt Ol</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

          $(document).ready(function () {

              if ('@TempData["message"]' == "Başarılı") {

                      toastr.success("@TempData["message2"]");
                  
            }
              else if ('@TempData["message"]' == "Hata") {
                  toastr.error("@TempData["message2"]");
                  
            }
        });

        

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
    </script>
}