@model (Category Ins, string Value, int Power)
@inject IRouteTable routeTable
    <li>
        <div class="media">
            <a href="@Url.Action("CategoryDetail","Detail", new { categoryName=GetFriendlyTitle(Model.Ins.Name) ,  id=Model.Ins.id,pageTag=routeTable.Get(EntityName.Category,PageType.Detail)})">
                <a class="pull-left">
                    <i class="circle icofont-street-view"></i>
                </a>
                <div class="media-body">
                    <span class="media-meta pull-right">@Model.Power Eşleşme</span>
                    <h4 class="title">
                        @Model.Ins.Name
                        <span class="pull-right pagado">(Kategori)</span>
                    </h4>
                    <p class="summary"> @Model.Value</p>
                </div>
            </a>
        </div>

    </li>