@model (Category Ins, string Value, int Power)
@inject IRouteTable routeTable
<div class="card text-center">
    <div class="card-header">
        KATEGORI
    </div>
    <div class="card-body py-3">
        <h5 class="card-title">@Model.Ins.Name</h5>
        <p class="card-text">@Model.Value</p>
        <a href="@Url.Action("CategoryDetail","Detail", new { categoryName=GetFriendlyTitle(Model.Ins.Name) ,  id=Model.Ins.id,pageTag=routeTable.Get(EntityName.Category,PageType.Detail)})" class="btn btn-primary">Sayfaya Git</a>
    </div>
    <div class="card-footer text-muted">
        @Model.Power Eşleşme
    </div>
</div>