@model List<Category>
@{}
    @{

        foreach (var item in Model)
        {
            <div class="carda">
                <a href="/Detail/CategoryDetail?categoryName=@item.Name.Replace(" ","-")&page=1&category=@item.id">
                    <div class="card_image">
                        if (item.PhotoPath == null)
                        {
                        <img src="~/images/Lifta.jpg" />
                        }
                        else
                        {
                        <img src="../CategoryImages/@item.PhotoPath" />
                        }

                    </div>
                    <div class="card_title title-white">
                        <p>@item.Name</p>
                    </div>
                </a>
            </div>

        }



    }
