@model ICollection<DynamicPage>

@foreach (var item in Model)
{
    <li><a asp-area="" asp-controller="Home" asp-action="DynamicPageView" asp-route-pageName="@GetFriendlyTitle(item.Name)" asp-route-id="@item.id">@item.Name</a></li>
}



