<!DOCTYPE html>
<html>
<head>
    <title>Rhythm &mdash; One & Multi Page Creative Theme</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta name="author" content="Roman Kirichik">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-responsive.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/vertical-rhythm.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/rev-slider.css">
    <link rel="stylesheet" href="../rs-plugin/css/settings.css" media="screen" /> 
    <style>

        .font-alt-type {
            font-family: "Montserrat", sans-serif;
            text-transform: initial;
            letter-spacing: 0.01em !important;
            color: #413e66;
            margin-bottom: 40px;
            font-size: 48px;
            font-weight: 700;
        }

        .color-blue {
            color: #00A0E3;
        }

        .color-navy-blue {
            color: #413e66;
        }
    </style>

</head>
<body class="appear-animate">

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->
    <!-- Page Wrap -->
    <div class="page" id="top">

        <!-- Home Section -->
        <div class="home-section fullscreen-container" id="home">
            <div class="fullscreenbanner">
                <ul>

                    <!-- Slide Item -->
                    <li data-transition="fade" data-slotamount="7" data-title="Intro Slide">

                        <img src="images/anasayfa-petroteks-1-1.png" alt="arka plan resim">


                        <div class="caption customin customout tp-resizeme hs-line-11 font-alt-type color-navy-blue"
                             data-x="30"
                             data-y="center"
                             data-voffset="-80"
                             data-customin="x:-50;y:-300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1000"
                             data-startslide="1"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn">

                            Yenilikçi Çözümler ve

                        </div>

                        <div class="caption fade customout tp-resizeme hs-line-2 font-alt-type color-blue"
                             data-x="30"
                             data-y="center"
                             data-voffset="-9"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1300"
                             data-startslide="1"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn">

                            <span class="uppercase"> Sondaj Ekipmanları</span>

                        </div>

                        <div class="caption customin customout tp-resizeme"
                             data-x="30"
                             data-y="center"
                             data-voffset="75"
                             data-customin="x:-50;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.1;scaleY:0.1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1500"
                             data-startslide="1"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn">

                            <div class="local-scroll">

                                <a href="#" class="btn btn-mod btn-border-w  btn-circle btn-icon btn-medium">
                                    <span><i class="fa fa-phone"></i></span>
                                    İletişime Geç
                                </a>

                            </div>

                        </div>


                        <div class="caption lfl start tp-resizeme"
                             data-x="right"
                             data-hoffset="0"
                             data-y="center"
                             data-voffset="0"
                             data-speed="800"
                             data-start="1800"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn">
                            <img src="images/sondajanasayfa.png" width="449" height="229" />


                        </div>

                    </li>
                    <!-- End Slide Item -->
                    <!-- Slide Item -->
                    <li data-transition="fade" data-slotamount="7" data-title="Black Slide">

                        <img src="images/anasayfa-petroteks-1-1.png" alt="">
                        <div class="caption customin customout tp-resizeme hs-line-11 font-alt-type color-navy-blue"
                             data-x="30"
                             data-y="center"
                             data-voffset="-80"
                             data-customin="x:-50;y:-300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1000"
                             data-startslide="1"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn">

                            Düşük konsantrasyonlu

                        </div>


                        <div class="caption fade customout tp-resizeme hs-line-2 font-alt-type color-navy-blue"
                             data-x="30"
                             data-y="center"
                             data-voffset="-9"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1300"
                             data-startslide="1"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn">
                            Her Türlü Su İle Uyumlu
                        </div>
                        <div class="caption customin customout hs-line-2 font-alt-type tp-resizeme color-blue"
                             data-x="30"
                             data-y="center"
                             data-voffset="75"
                             data-customin="x:-50;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.1;scaleY:0.1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1500"
                             data-startslide="1"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn">

                            <span class="uppercase"> HAVAS sulfotex</span>

                        </div>

                        <div class="caption lfl start tp-resizeme"
                             data-x="right"
                             data-hoffset="0"
                             data-y="center"
                             data-voffset="0"
                             data-speed="800"
                             data-start="1800"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn">
                            <img src="images/petroteks ürün 2.png" style="width:200px!important;;height:300px!important;" />


                        </div>



                    </li>
                    <!-- End Slide Item -->
                    <!-- Slide Item -->
                    <!--
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-title="Cup of Dream">

                      <img src="images/full-width-images/section-bg-5.jpg" alt="">


                           <div class="caption customin customout tp-resizeme mediumlarge_light_white"
                               data-x="center"
                               data-y="center"
                               data-voffset="-70"
                               data-customin="x:-50;y:-300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

                               data-speed="800"
                               data-start="1000"
                               data-startslide="1"

                               data-easing="Power4.easeOut"
                               data-endspeed="500"
                               data-endeasing="Power4.easeIn">

                               <a href="http://vimeo.com/50201327" class="big-icon-link lightbox-gallery-1 mfp-iframe"><span class="big-icon big-icon-rs"><i class="fa fa-play-circle"></i></span></a>

                           </div>

                            <div class="caption customin customout tp-resizeme hs-line-14 font-alt"
                               data-x="center"
                               data-y="center"
                               data-hoffset="20"
                               data-voffset="40"
                               data-customin="x:-50;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.1;scaleY:0.1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                               data-speed="800"
                               data-start="1300"
                               data-startslide="1"

                               data-easing="Power4.easeOut"
                               data-endspeed="500"
                               data-endeasing="Power4.easeIn">


                               Rhythm Studio

                            </div>


                            <div class="caption customin customout tp-resizeme hs-line-8 no-transp font-alt"
                               data-x="center"
                               data-y="center"
                               data-voffset="120"
                               data-customin="x:50;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                               data-speed="800"
                               data-start="1500"
                               data-startslide="1"

                               data-easing="Power4.easeOut"
                               data-endspeed="500"
                               data-endeasing="Power4.easeIn">

                                   Let&rsquo;s start work with&nbsp;us
                             </div>

                    </li>
                    -->
                    <!-- End Slide Item -->
                    <!-- Slide Item -->
                    <!--
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-title="Video Slide">

                     <img src="images/full-width-images/section-bg-5.jpg" alt="">


                           <div class="caption customin customout tp-resizeme hs-line-8 font-alt"
                               data-x="30"
                               data-y="center"
                               data-voffset="-80"
                               data-customin="x:-50;y:-300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

                               data-speed="800"
                               data-start="1000"
                               data-startslide="1"

                               data-easing="Power4.easeOut"
                               data-endspeed="500"
                               data-endeasing="Power4.easeIn">

                               Introducing Video

                           </div>

                            <div class="caption fade customout tp-resizeme hs-line-14 font-alt"
                               data-x="30"
                               data-y="center"
                               data-voffset="-9"
                               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                               data-speed="800"
                               data-start="1300"
                               data-startslide="1"

                               data-easing="Power4.easeOut"
                               data-endspeed="500"
                               data-endeasing="Power4.easeIn">

                               <span class="uppercase">We have art magic skills</span>

                            </div>

                            <div class="caption customin customout tp-resizeme large_bold_white"
                               data-x="30"
                               data-y="center"
                               data-voffset="75"
                               data-customin="x:-50;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.1;scaleY:0.1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                               data-speed="800"
                               data-start="1500"
                               data-startslide="1"

                               data-easing="Power4.easeOut"
                               data-endspeed="500"
                               data-endeasing="Power4.easeIn">

                               <div class="local-scroll">

                                    <a href="#about" class="btn btn-mod btn-border-w btn-medium btn-round">
                                        Learn More
                                    </a>

                                </div>

                            </div>


                            <div class="caption customin customout tp-resizeme"
                               data-x="right"
                               data-hoffset="0"
                               data-y="center"
                               data-voffset="0"
                               data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                               data-speed="800"
                               data-start="1800"
                               data-startslide="1"

                               data-easing="Power4.easeOut"
                               data-endspeed="500"
                               data-endeasing="Power4.easeIn"
                               data-autoplay="false"
                               data-autoplayonlyfirsttime="false">

                               <iframe src="http://player.vimeo.com/video/56152991?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="480" height="275" allowfullscreen>
                               </iframe>

                            </div>



                    </li>
                     -->
                    <!-- End Slide Item -->


                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
        <!-- End Home Section -->
        <!-- Navigation panel -->
        <nav class="main-nav transparent stick-fixed">
            <div class="full-wrapper relative clearfix">
                <!-- Logo ( * your text or image into link tag *) -->
                <div class="nav-logo-wrap local-scroll">
                    <a href="mp-index.html" class="logo">
                        <img src="http://www.petroteks.com/tr/wp-content/uploads/2019/12/logopetroteks-1.png" alt="" />
                    </a>
                </div>
                <div class="mobile-nav">
                    <i class="fa fa-bars"></i>
                </div>

                <!-- Main Menu -->
                <div class="inner-nav desktop-nav">
                    <ul class="clearlist">

                        <!-- Item With Sub -->
                        <li>
                            <a href="#" class="mn-has-sub active">ANA SAYFA</a>
                        </li>
                        <li>
                            <a href="#" class="mn-has-sub active">HAKKIMIZDA</a>
                        </li>
                        <!-- End Item With Sub -->
                        <!-- Item With Sub -->
                        <li>
                            <a href="#" class="mn-has-sub">ÜRÜNLER <i class="fa fa-angle-down"></i></a>

                            <!-- Sub -->
                            <ul class="mn-sub">

                                <li>
                                    <a href="#" class="mn-has-sub">Ürün1 <i class="fa fa-angle-right right"></i></a>

                                    <ul class="mn-sub">
                                        <li>
                                            <a href="blog-classic-sidebar-left.html">Alt Ürün</a>
                                        </li>

                                    </ul>

                                </li>



                            </ul>
                            <!-- End Sub -->

                        </li>
                        <!-- End Item With Sub -->
                        <!-- Divider -->
                        <li><a>&nbsp;</a></li>
                        <!-- End Divider -->
                        <!-- Search -->
                        <li>
                            <a href="#" class="mn-has-sub"><i class="fa fa-search"></i> ARAMA</a>

                            <ul class="mn-sub">

                                <li>
                                    <div class="mn-wrap">
                                        <form method="post" class="form">
                                            <div class="search-wrap">
                                                <button class="search-button animate" type="submit" title="Aramaya Başla">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                                <input type="text" class="form-control search-field" placeholder="ARAMA...">
                                            </div>
                                        </form>
                                    </div>
                                </li>

                            </ul>

                        </li>
                        <!-- End Search -->
                        <!-- Cart -->
                        <!-- End Cart -->
                        <!-- Languages -->
                        <li>
                            <a href="#" class="mn-has-sub">TR <i class="fa fa-angle-down"></i></a>

                            <ul class="mn-sub">

                                <li><a href="">ENG</a></li>

                            </ul>

                        </li>
                        <!-- End Languages -->

                    </ul>
                </div>
                <!-- End Main Menu -->


            </div>
        </nav>
        <!-- End Navigation panel -->
        @RenderBody()

        <footer class="small-section bg-gray-lighter footer pb-60">
            <div class="container">

                <!-- Footer Widgets -->
                <div class="row align-left">

                    <!-- Widget -->
                    <!-- End Widget -->
                    <!-- Widget -->
                    <div class="col-sm-6 col-md-3">
                        <div class="widget">

                            <h5 class="widget-title font-alt">SİTE HARİTASI</h5>

                            <div class="widget-body">
                                <ul class="clearlist widget-menu">
                                    <li>
                                        <a href="#" title="">ANA SAYFA<i class="fa fa-angle-right right"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" title="">HAKKIMIZDA <i class="fa fa-angle-right right"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" title="">ÜRÜNLER<i class="fa fa-angle-right right"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" title="">GİZLİLİK POLİTİKASI <i class="fa fa-angle-right right"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" title="">İLETİŞİM<i class="fa fa-angle-right right"></i></a>
                                    </li>


                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- End Widget -->
                    <!-- Widget -->
                    <div class="col-sm-6 col-md-3">
                        <div class="widget">

                            <h5 class="widget-title font-alt">TOKAT DEPO </h5>

                            <div class="widget-body">
                                <ul class="clearlist widget-posts">
                                    <li class="clearfix">
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">
                                                Amasya – Erzincan Yolu Boğazbaşı Mahallesi</br>
                                                Mevkii No:177/1-1</br>Niksar / TOKAT
                                        </div>
                                    </li>


                                </ul>


                            </div>
                            <!-- End Widget -->
                        </div>
                        <!-- End Widget -->
                    </div>
                    <!-- End Widget -->
                    <!-- Widget -->
                    <div class="col-sm-6 col-md-3">
                        <div class="widget">

                            <h5 class="widget-title font-alt">ANKARA DEPO </h5>

                            <div class="widget-body">
                                <ul class="clearlist widget-posts">
                                    <li class="clearfix">
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">
                                                İvedik OSB 2268 </br>
                                                Cadde No:9</br>Yenimahalle / ANKARA
                                        </div>
                                    </li>


                                </ul>


                            </div>
                            <!-- End Widget -->
                        </div>
                    </div>
                    <!-- End Widget -->
                    <div class="col-sm-6 col-md-3">
                        <div class="widget">

                            <h5 class="widget-title font-alt">İLETİŞİM</h5>

                            <div class="widget-body">
                                <div class="widget-text clearfix">


                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            TEL
                                        </div>
                                        <div class="ci-text">
                                            <a href="tel:+90 312 426 23 23">+90 312 426 23 23</a>
                                        </div>
                                    </div>
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-fax"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            FAX
                                        </div>
                                        <div class="ci-text">
                                            <a>+90 312 426 23 23</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End Footer Widgets -->
                <!-- Divider -->
                <hr class="mt-0 mb-10 mb-xs-10">
                <!-- End Divider -->
                <!-- Footer Logo -->
                <!-- Footer Logo -->
                <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                    <a href="#top"><img src="http://www.petroteks.com/tr/wp-content/uploads/2019/12/logopetroteks-1.png" width="178" height="136" alt="" /></a>
                </div>
                <!-- End Footer Logo -->
                <!-- Social Links -->
                <!-- End Social Links -->
                <!-- Footer Text -->
                <!-- End Footer Text -->



        </footer>


        <!-- End Foter -->


    </div>
    <!-- End Page Wrap -->
    <!-- JS -->
    <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="../js/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="../js/jquery.viewport.mini.js"></script>
    <script type="text/javascript" src="../js/jquery.countTo.js"></script>
    <script type="text/javascript" src="../js/jquery.appear.js"></script>
    <script type="text/javascript" src="../js/jquery.sticky.js"></script>
    <script type="text/javascript" src="../js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="../js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="../js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="../js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="../js/jquery.magnific-popup.min.js"></script>
    <!-- Replace test API Key "AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg" with your own one below
    **** You can get API Key here - https://developers.google.com/maps/documentation/javascript/get-api-key -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg"></script>
    <script type="text/javascript" src="../js/gmap3.min.js"></script>
    <script type="text/javascript" src="../js/wow.min.js"></script>
    <script type="text/javascript" src="../js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../js/jquery.simple-text-rotator.min.js"></script>
    <script type="text/javascript" src="../js/all.js"></script>
    <script type="text/javascript" src="../js/contact-form.js"></script>
    <script type="text/javascript" src="../js/jquery.ajaxchimp.min.js"></script>
    <script type="text/javascript" src="../rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="../rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="../js/rev-slider.js"></script>
    <script type="text/javascript" src="../js/tiltfx.js"></script>
    <!--[if lt IE 10]><script type="text/javascript" src="../js/placeholder.js"></script><![endif]-->

</body>
</html>
