 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/NewLayout/css/error.css" rel="stylesheet" />
</head>
<body>

@RenderBody()

</body>

</html>
