 
@{
    ViewData["Title"] = "Ana Sayfa Düzenleme";
    PageViewModel pageViewModel = (PageViewModel)ViewBag.PageViewModel;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                @using (Html.BeginForm())
                {
                    <h4 class="card-title">Meta Açıklama</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" id="MetaDescription" name="MetaDescription" aria-describedby="MetaDescription" placeholder="MetaDescription">
                        <small id="" class="form-text text-muted">Karakter sayısı kuralı girilecek</small>
                    </div>
                    <h4 class="card-title">Meta Anahtar kelime</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" id="MetaKeyword" name="MetaKeyword" aria-describedby="MetaKeyword" placeholder="MetaKeyword">
                        <small id="name" class="form-text text-muted">Anahtar Kelimeleri lütfen virgül ile ayırın.</small>
                    </div>
                    <h4 class="card-title">Sayfa Başlığı</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" id="MetaTitle" name="MetaTitle" aria-describedby="MetaTitle" placeholder="MetaTitle">
                        <small id="name" class="form-text text-muted">Anahtar Kelimeleri lütfen virgül ile ayırın.</small>
                    </div>

                    <h4 class="card-title">Üst Kısım Editör</h4>
                    <div class="form-group">
                        <textarea id="editor" name="ContentHeader">
                      
                     </textarea>
                    </div>
                    <h4 class="card-title">Giriş Kısım Editör</h4>
                    <div class="form-group">
                        <textarea id="editor" name="ContentHeaderBottom">
                      
                     </textarea>
                    </div>
                    <h4 class="card-title">Alt Kısım Editör</h4>
                    <div class="form-group">
                        <textarea id="editor" name="ContentBottom">
                      
                         </textarea>
                    </div>
                    <br />
                    <center><input type="submit" class="btn btn-success" value="Kaydet" /></center>

                }




            </div>
        </div>
    </div>
</div>
