@model UI_Footer
@{
    ViewData["Title"] = "Footer  Düzenleme";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                @using (Html.BeginForm())
                {
                    <h4 class="card-title">FOOTER DÜZENİ</h4>
                    <div class="form-group">
                        <textarea id="editor1" name="Content">
                            @Html.Raw(Model.Content)
                        </textarea>
                    </div>
                    <center><input type="submit" class="btn btn-success" value="Kaydet" /></center>

                }

            </div>
        </div>
    </div>
</div>
