@model LanguageViewModel
@{
    ViewData["Title"] = " Dil Ekle";
}
<div class="row">
    <div class="col-12">
        <div class="card" style="">
            <div class="card-body">
                <h4 class="card-title">Mevcut Sitedeki Dil Listesi</h4>
                <div class="col-md-6">
                    <ul class="list-group">
                        @foreach (var item in LanguageContext.WebsiteLanguages)
                        {
                            <li class="list-group-item">
                                <span>@item.Name</span>
                                <span class="pl-1"><img  src="~/LanguageImages/@item.IconCode" /></span>
                                <span class="pl-1">@item.KeyCode</span>
                            </li>
                        }
                    </ul>
                </div>

            </div>

        </div>

        <div class="card">
            <div class="card-body">

                @using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <h4 class="card-title">Dili temsil eden bayrak fotoğrafı</h4>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" asp-for="IconCode" class="custom-file-input">
                                <label class="custom-file-label">Dosya Seç</label>
                            </div>
                        </div>
                    </div>
                    <h4 class="card-title">Dil Kodu</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="KeyCode" aria-describedby="KeyCode" placeholder="KeyCode">
                        <small id="name" class="form-text text-muted">Lüfen dil kodlarına göre dili ekleyin örn:"en_GB", "tr_TR"</small>
                    </div>
                    <h4 class="card-title">Dil Adı</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="Name" aria-describedby="Name" placeholder="Name">
                        <small id="name" class="form-text text-muted">Lüfen dil isimlerine göre dili ekleyin örn:"Türkçe", "English"</small>
                    </div>
                    <center><input type="submit" class="btn btn-success" value="Kaydet" /></center>
                }
            </div>
        </div>
    </div>
</div>

