@model ProductViewModel

@{
    ViewData["Title"] = " Ürün Düzenleme";
}


<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th> Resim</th>
            <th> Başlık</th>
            <th> Durum</th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>
                    <img src="~/images/anasayfa-petroteks-1-1.png"  width="75"/>
                </td>
                <td>Başlık </td>
                <td>
                    <a type="button" href="/" class="btn btn-danger btn-rounded"><i class="fas fa-trash"></i> </a>
                    <a type="button" href="" class="btn btn-danger btn-rounded"><i class="fas fa-trash"></i> </a>
                </td>
            </tr>
      
    </tbody>
</table>