<style>
    #pushpre {
        font-size: 12px;
    }

    #pushpre2 {
        font-size: 12px;
    }

    #pushpre3 {
        font-size: 12px;
    }
</style>


<section class="page-section">
    <div class="container relative">
      
        <!-- Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Giriş Basit Animasyon 1
                        </h4>
                        <div class="col-md-12"><img src="~/Admin/assets/images/Giris.png" style="width:70%;padding-bottom:15%;" /></div>
                        <div class="col-md-12" id="pushpre">
                            <!-- End Home Section -->
                        </div>



                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Slider Altı Basit Animasyon 1
                        </h4>
                        <div class="col-md-12"><img src="~/Admin/assets/images/Giris.png" style="width:70%;padding-bottom:15%;" /></div>
                        <div class="col-md-12" id="pushpre2">
                            <!-- End Home Section -->
                        </div>



                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Alt Basit Animasyon 1
                        </h4>
                        <div class="col-md-12"><img src="~/Admin/assets/images/Giris.png" style="width:70%;padding-bottom:15%;" /></div>
                        <div class="col-md-12" id="pushpre3">
                            <!-- End Home Section -->
                        </div>



                    </div>
                </div>
            </div>

         </div>
                <!-- End Row -->

                <hr class="mb-40">

     </div>
</section>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('#pushpre').text("<section id='intro' class='clearfix'><div class='container d-flex h-100'> <div class='row justify-content-center align-self-center'> <div class='col-md-6 intro-info order-md-first order-last'> <h2>Yenilikçi<br>Çözümler ve<span>Sondaj Ekipmanları</span></h2> <div> <a href='#about' class='btn-get-started scrollto'>İletişime Geç!</a> </div> </div> <div class='col-md-6 intro-img order-md-last order-first my-auto wow fadeInLeft' data-wow-delay='0.2s'> <img src='~/NewLayout/img/sondajanasayfa.png' alt='' class='img-fluid'></div></div></div></section>");
            $('#pushpre2').text("<section id='about'> <div class='container'> <div class='row'> <div class='col-lg-5 col-md-6'> <div class='about-img'> <img src='http://www.petroteks.com/tr/wp-content/uploads/2019/12/WeChat-Image_20191015151414.png' alt=''> </div> </div> <div class='col-lg-7 col-md-6'> <div class='about-content'> <h2>Yenilikçi Çözümler</h2> <p>Kuruluşumuzdan bu yana Uygun fiyat, maksimum fayda ilkesi ile sondaj makineleri, sondaj ekipmanları gibi sondaj operasyonlarında neye ihtiyaç duyulursa taleplerinizi eksiksiz karşılamak ve sizlere en kaliteli hizmeti sunma arzusundayız.</p> <ul> <li><i class='ion-android-checkmark-circle'></i> Kaliteli Hizmet</li> <li><i class='ion-android-checkmark-circle'></i>Uygun Fiyat</li> <li><i class='ion-android-checkmark-circle'></i>Maksimum Fayda</li> </ul> </div> </div> </div> </div> </section>");
               $('#pushpre3').text("<section id='clients' class='wow fadeInUp'> <div class='container'><header class='section-header'> <h3>Markalarımız</h3></header><div class='owl-carousel clients-carousel'><img src='http://www.petroteks.com/tr/wp-content/uploads/2019/12/drillben-logo-petroteks-joker-medya-1.png' alt=''> <img src='http://www.petroteks.com/tr/wp-content/uploads/2019/12/havas-sulfotex-logo-petroteks-joker-medya.png' alt=''><img src='http://www.petroteks.com/tr/wp-content/uploads/2019/12/APIBARITE-logo-petroteks-joker-medya.png' alt=''><img src='http://www.petroteks.com/tr/wp-content/uploads/2019/12/VISPOL-s%C4%B1v%C4%B1-sondaj-polimeri-logo-petroteks-joker-medya.png' alt=''><img src='http://www.petroteks.com/tr/wp-content/uploads/2019/12/PELLETONIT-s%C4%B1v%C4%B1-sondaj-polimeri-logo-petroteks-joker-medya.png' alt=''></div></div></section>");
        });


    </script>
}