<style>
    #pushpre{
        font-size:12px;
    }
</style>


<section class="page-section">
    <div class="container relative">
      
        <!-- Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Giriş Örnek 1
                        </h4>
                       <div class="col-md-12" ><img src="~/Admin/assets/images/Giris.png" style="width:70%;padding-bottom:15%;" /></div>
                        <div class="col-md-12" id="pushpre">
                            <!-- End Home Section -->
                        </div>



                    </div>
                </div>
            </div>

         </div>
                <!-- End Row -->

                <hr class="mb-40">

     </div>
</section>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('#pushpre').text("<div class='home-section fullscreen-container' id='home'> <div class='fullscreenbanner'> <ul> <!-- Slide Item --> <li data-transition='fade' data-slotamount='7' data-title='Intro Slide'> <img src='../../images/anasayfa-petroteks-1-1.png' alt='arka plan resim'> <div class='caption customin customout tp-resizeme hs-line-11 font-alt-type color-navy-blue' data-x='30' data-y='center' data-voffset='-80' data-customin='x:-50;y:-300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;' data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;' data-speed='800' data-start='1000' data-startslide='1' data-easing='Power4.easeOut' data-endspeed='500' data-endeasing='Power4.easeIn'> Yenilikçi Çözümler ve </div> <div class='caption fade customout tp-resizeme hs-line-2 font-alt-type color-blue' data-x='30' data-y='center' data-voffset='-9' data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;' data-speed='800' data-start='1300' data-startslide='1' data-easing='Power4.easeOut' data-endspeed='500' data-endeasing='Power4.easeIn'> <span class='uppercase'> Sondaj Ekipmanları</span> </div> <div class='caption customin customout tp-resizeme' data-x='30' data-y='center' data-voffset='75' data-customin='x:-50;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.1;scaleY:0.1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;' data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;' data-speed='800' data-start='1500' data-startslide='1' data-easing='Power4.easeOut' data-endspeed='500' data-endeasing='Power4.easeIn'> <div class='local-scroll'> <a href='#' class='btn btn-mod btn-border-w  btn-circle btn-icon btn-medium'> <span><i class='fa fa-phone'></i></span> İletişime Geç </a> </div> </div> <div class='caption lfl start tp-resizeme' data-x='right' data-hoffset='0' data-y='center' data-voffset='0' data-speed='800' data-start='1800' data-easing='Power4.easeOut' data-endspeed='500' data-endeasing='Power4.easeIn'> <img src='../../images/sondajanasayfa.png' width='449' height='229' /> </div> </li> <!-- End Slide Item --> <!-- Slide Item --> <li data-transition='fade' data-slotamount='7' data-title='Black Slide'> <img src='../../images/anasayfa-petroteks-1-1.png' alt=''> <div class='caption customin customout tp-resizeme hs-line-11 font-alt-type color-navy-blue' data-x='30' data-y='center' data-voffset='-80' data-customin='x:-50;y:-300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;' data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;' data-speed='800' data-start='1000' data-startslide='1' data-easing='Power4.easeOut' data-endspeed='500' data-endeasing='Power4.easeIn'> Düşük konsantrasyonlu </div> <div class='caption fade customout tp-resizeme hs-line-2 font-alt-type color-navy-blue' data-x='30' data-y='center' data-voffset='-9' data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;' data-speed='800' data-start='1300' data-startslide='1' data-easing='Power4.easeOut' data-endspeed='500' data-endeasing='Power4.easeIn'> Her Türlü Su İle Uyumlu </div> <div class='caption customin customout hs-line-2 font-alt-type tp-resizeme color-blue' data-x='30' data-y='center' data-voffset='75' data-customin='x:-50;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.1;scaleY:0.1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;' data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;' data-speed='800' data-start='1500' data-startslide='1' data-easing='Power4.easeOut' data-endspeed='500' data-endeasing='Power4.easeIn'> <span class='uppercase'> HAVAS sulfotex</span> </div> <div class='caption lfl start tp-resizeme' data-x='right' data-hoffset='0' data-y='center' data-voffset='0' data-speed='800' data-start='1800' data-easing='Power4.easeOut' data-endspeed='500' data-endeasing='Power4.easeIn'> <img src='../../images/petroteks ürün 2.png' style='width:200px!important;;height:300px!important;' /> </div> </li>  </ul> <div class='tp-bannertimer tp-bottom'></div> </div> </div>");
        });


    </script>
}