<style>
    #pushpre {
        font-size: 12px;
    }

    #pushpre2 {
        font-size: 12px;
    }

    #pushpre3 {
        font-size: 12px;
    }

    #pushpre4 {
        font-size: 12px;
    }

    #pushpre5 {
        font-size: 12px;
    }

    #pushpre6 {
        font-size: 12px;
    }
</style>


<section class="page-section">
    <div class="container relative">

        <!-- Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Ana Sayfa Giriş Slider
                        </h4>
                        <div class="col-md-12">
                            <img src="" style="width:70%;padding-bottom:15%;" />
                            <img src="~/images/SayfaStandardi/Girisslider.jpg" style="width:70%;padding-bottom:15%;" />
                        </div>
                        <div class="col-md-12">
                            <p>
                                Kod tarafında her bir < li> tag içindeki  < img /> tagı src si resimleri ifade eder,<br />
                                Resimlerin üstüne basıp resim sekmesini tıklıyarak sunucuya göz at diyip yüklenen resimleri seçebilirsiniz <br />
                                <strong>Resim Yükleme Adımları:</strong>
                                <ul>
                                    <li>Resim İkonuna basarak sunucuya göz at butonuna tıklayın,</li>
                                    <li>Bilgisayardan bir fotoğraf yüklemek için dosya seçe basın, sonrasında upload buttonuna tıklayarak resim yüklenir liste içerisinde seçilir, ve ok butonuna basılarak resim yüklenir</li>
                                    <li>Eğer resim liste içerisinde varsa seçilen resime ok butonuna basarak resim yüklenir. </li>
                                </ul>
                            </p>


                        </div>



                        <div class="col-md-12" id="pushpre">






                        </div>



                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Slider Altı Giriş Kısmı ve Sabit Ürün Resimleri
                        </h4>
                        <div class="col-md-12"><img src="~/images/SayfaStandardi/SliderAlti.jpg" style="width:70%;padding-bottom:15%;" /></div>
                        <div class="col-md-12">
                            <p>
                                Section class="about" olan kısım slider altındaki solda resim ve sağda yazıyı belirtir.<br />
                                Section class="portfolio" olan kısımise 5 ana ürünü ifade eder. <br />
                                Resim üzerinde item type="name" ile belirtilen yerlerde micro data kullanılmıştır<br />
                                Portfolio olan kısım dinamik resimli çalışır mobilde farklı resimleri gösterir bu bölümde oynama yapılması tasarımı bozabilir!
                            </p>
                        </div>
                        <div class="col-md-12" id="pushpre2">
                            <!-- End Home Section -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Alt Kısım Karosel
                        </h4>
                        <div class="col-md-12"><img src="~/images/SayfaStandardi/karoselaltkısım.jpg" style="width:70%;padding-bottom:15%;" /></div>
                        <div class="col-md-12">
                            <p>logoları değiştirmek isterseniz resim üstüne  tıklayıp  resim ikonuna basarak sunucudan resim seçebilirsiniz.</p>
                        </div>
                        <div class="col-md-12" id="pushpre3">
                            <!-- End Home Section -->
                        </div>



                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Hakkımızda Sayfası
                        </h4>
                        <div class="col-md-12"><img src="~/images/SayfaStandardi/Hakkimizda.jpg" style="width:70%;padding-bottom:15%;" /></div>
                        <div class="col-md-12">
                            <p>Hakkımızda sayfası için aşağıdaki kod bloğunu kullanabilirsiniz</p>
                        </div>
                        <div class="col-md-12" id="pushpre6">
                            <!-- End Home Section -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Full Width Resim Sayfa
                        </h4>
                        <div class="col-md-12"><img src="~/images/SayfaStandardi/FullWidthImageResimAyarli.jpg" style="width:70%;padding-bottom:15%;" /></div>
                        <div class="col-md-12">
                            <p>Boş Full Width Sayfa eklemek için aşağıdaki kod bütününü kullanabilrsiniz</p>
                        </div>
                        <div class="col-md-12" id="pushpre4">
                            <!-- End Home Section -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Basit Ürün Sayfası
                        </h4>
                        <div class="col-md-12"><img src="~/images/SayfaStandardi/BasitSayfa.jpg" style="width:70%;padding-bottom:15%;" /></div>
                        <div class="col-md-12">
                            <p>Boş Resimsiz Sayfa eklemek için aşağıdaki kod bütününü kullanabilrsiniz</p>
                        </div>
                        <div class="col-md-12" id="pushpre5">
                            <!-- End Home Section -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Row -->

        <hr class="mb-40">

    </div>
</section>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('#pushpre').text("<div class='slider' style='margin-top: 70px;'> <ul class='slides'> <li><img src='../images/banner_petroteks.jpg' /> <!-- random image --> <div class='caption selected center-align'> <div class='row'> <div class='col-lg-6 col-md-6 '><img class='img-calign' src='../images/sondajanasayfa.png' /></div> <div class='alignchange col-lg-6 col-md-6 center-align my-auto'> <h4 class='color-nav-blue'>Sondaj Ekipmanlarında</h4> <h5 class='color-blue'>Uygun Fiyat, Kaliteli Ürün, Tam Güvence</h5> </div> </div> </div> </li> <li><img src='../images/banner2.jpg' /> <!-- random image --> <div class='caption selected left-align'> <div class='row'> <div class='col-lg-6 col-md-6 '><img class='img-calign' src='../images/petroteks ürün 1.png' /></div> <div class='alignchange col-lg-6 col-md-6 center-align my-auto'> <h4 class='color-nav-blue'>SONDAJ KİMYASALLARINDA UZMAN</h4> </div> </div> </div> </li> <li><img src='../images/banner3.jpg' /> <!-- random image --> <div class='caption left-align'> <div class='row'> <div class='col-lg-6 col-md-6 center-align my-auto'><h4 class='color-nav-blue'>DRİLLBEN <span style='color:#00a0e3'>BENTONİT</span></h4> <h4 class='color-blue bold'>SONDAJ SEKTORUNUN YÜKSELEN YILDIZI</h4> </div> <div class='col-lg-6 col-md-6 '><img class='img-calign' src='../images/material_1570824439894.png' /></div></div></div></li></ul></div>");
            $('#pushpre2').text("<section id='about'> <div class='container'> <div class='row'> <div class='col-lg-5 col-md-6'> <div class='about-img'><img alt='' src='/images/WeChat-Image_20191015151414.png' /></div> </div> <div class='col-lg-7 col-md-6'> <div class='about-content'> <h2>Yenilik&ccedil;i &Ccedil;&ouml;z&uuml;mler</h2> <p>Kuruluşumuzdan bu yana Uygun fiyat, maksimum fayda ilkesi ile sondaj makineleri, sondaj ekipmanları gibi sondaj operasyonlarında neye ihtiya&ccedil; duyulursa taleplerinizi eksiksiz karşılamak ve sizlere en kaliteli hizmeti sunma arzusundayız.</p> <ul> <li><i class='ion-android-checkmark-circle'></i> Kaliteli Hizmet</li> <li><i class='ion-android-checkmark-circle'></i>Uygun Fiyat</li> <li><i class='ion-android-checkmark-circle'></i>Maksimum Fayda</li> </ul> </div> </div> </div> </div> </section> <section class='section-bg' id='portfolio'> <div class='container-fluid'> <header class='section-header'> <h3 class='section-title' style='padding-bottom: 30px;'>&Uuml;r&uuml;nlerimiz</h3> </header> <div class='row'> <div class='col-md-1 portfolio-item filter-app' style=''>&nbsp;</div> <div class='col-md-2 portfolio-item filter-app' style=''> <div class='portfolio-wrap' style='border-radius: 10px;'><a href='http://www.petroteks.com/Kategori-Detay/%C3%87amur-elek-teller%C4%B0-1-29'><img alt='Elek Telleri' class='img-fluid' src='../images/ÇAMURELEKTELLERI.png' /> </a> <div class='portfolio-info' itemtype='https://schema.org/Product'> <div><a class='link-details' href='http://www.petroteks.com/Urun-Detay/%C3%87amur-elek-teller%C4%B0-35' itemprop='name' title='Elek Telleri'><i class='ion ion-android-open'></i></a></div> <a> </a></div> <a> </a></div> <a> </a></div> <a> </a> <div class='col-md-2 portfolio-item filter-app' style=''><a> </a> <div class='portfolio-wrap' style='border-radius: 10px;'><a href='http://www.petroteks.com/Urun-Detay/karot-sandiklari-13'><img alt='Karot Sandıkları' class='img-fluid' src='../images/KAROTSANDIKLARI.png' /> </a> <div class='portfolio-info' itemtype='https://schema.org/Product'> <div><a class='link-details' href='http://www.petroteks.com/Urun-Detay/karot-sandiklari-13' itemprop='name' title='Karot Sandıkları'><i class='ion ion-android-open'></i></a></div> </div> </div> </div> <div class='col-md-2 portfolio-item filter-app' style=''> <div class='portfolio-wrap' style='border-radius: 10px;'><a href='http://www.petroteks.com/Kategori-Detay/sondaj-k%C4%B0myasallari-1-8'><img alt='Sondaj Kimyasalları' class='img-fluid' src='../images/SONDAJKIMYASALLARI.png' title='Sondaj Kimyasalları' /> </a> <div class='portfolio-info' itemtype='https://schema.org/Product'> <div><a class='link-details' href='http://www.petroteks.com/Kategori-Detay/sondaj-k%C4%B0myasallari-1-8' itemprop='name' title='Sondaj Kimyasalları'><i class='ion ion-android-open'></i></a></div> </div> </div> </div> <div class='col-md-2 portfolio-item filter-app' style=''> <div class='portfolio-wrap' style='border-radius: 10px;'><a href='http://www.petroteks.com/Urun-Detay/sondaj-t%C4%B0j-ve-muhafaza-borulari-12'><img alt='Sondaj Tij ve Muhafaza Boruları' class='img-fluid' src='../images/BORUL.png' title='Sondaj Tij ve Muhafaza Boruları' /> </a> <div class='portfolio-info' itemtype='https://schema.org/Product'> <div><a class='link-details' href='http://www.petroteks.com/Urun-Detay/sondaj-t%C4%B0j-ve-muhafaza-borulari-12' itemprop='name' title='Sondaj Tij ve Muhafaza Boruları'><i class='ion ion-android-open'></i></a></div> </div> </div> </div> <div class='col-md-2 portfolio-item filter-app' style=''> <div class='portfolio-wrap' style='border-radius: 10px;'><a href='http://www.petroteks.com/Kategori-Detay/%C3%87amur-pompasi-sarf-malzemeler%C4%B0-1-28' title='Çamur Pompası'><img alt='Çamur Pompası' class='img-fluid' src='images/POMPA.png' /> </a> <div class='portfolio-info' itemtype='https://schema.org/Product'> <div><a class='link-details' href='http://www.petroteks.com/Kategori-Detay/%C3%87amur-pompasi-sarf-malzemeler%C4%B0-1-28' itemprop='name' title='Çamur Pompası'><i class='ion ion-android-open'></i></a></div> </div> </div> </div> <div class='col-md-1 portfolio-item filter-app' style=''>&nbsp;</div> </div> </div> </section>");
            $('#pushpre3').text("<section class='wow fadeInUp' id='clients'> <div class='container'> <header class='section-header'> <h3>Markalarımız</h3> </header> <div class='owl-carousel clients-carousel'><img alt='Drillben Logo' src='/images/drillben-logo-petroteks-joker-medya-1.png' /> <img alt='' src='/images/carousel/havas-sulfotex-logo-petroteks-joker-medya.png' /><img alt='' src='/images/carousel/APIBARITE-logo-petroteks-joker-medya.png' /><img alt='' src='/images/carousel/VISPOL-sıvı-sondaj-polimeri-logo-petroteks-joker-medya.png' /><img alt='' src='/images/carousel/PELLETONIT-sıvı-sondaj-polimeri-logo-petroteks-joker-medya.png' /></div> </div> </section>");
            $('#pushpre4').text(" <section class='clearfix' id='intro'> <div class='container d-flex h-100'> <div class='row justify-content-center align-self-center'> <div class='col-md-12 text-center intro-info order-md-first order-last'> <div class='wow fadeInLeft' data-wow-delay='0.2s'> <h2 itemprop='name'>POLYTHIN</h2> </div> </div> </div> </div> </section> <section id='about'> <div class='container'> <div class='row'> <div class='col-lg-5 col-md-6'> <div class='about-img'><img alt='Sondaj kimyasalı ve incelticiler' src='/UpLoadImages/%C3%BCr%C3%BCnler%20kesik%20(1).png?512' style='width: 321px; height: 178px;' /></div> </div> <div class='col-lg-7 col-md-6'> <div class='about-content'> <h2 itemprop='name'>POLYTHIN</h2> <p itemscope><strong>POLYTHIN </strong>Filtrelenmiş b&ouml;lgedeki &uuml;retim formasyonundan ve &ccedil;akıllardan tortuyu (sedimanı), &ccedil;amuru ve kili s&ouml;k&uuml;p atmaya yarar. Sondaj sıvılarının viskozite ve jel mukavemetini azaltır.</p> <p>&nbsp;</p> </div> </div> </div> </div> </section>");
            $('#pushpre5').text("<section id='about'> <div class='container'> <div class='row'> <div class='col-lg-5 col-md-6'> <div class='about-img'><img alt='' src='../images/kostik1.jpg' /></div> </div> <div class='col-lg-7 col-md-6'> <div class='about-content'> <h2>SODA K&Uuml;L&Uuml; (SODA ASH)</h2> <p><strong>SODA K&Uuml;L&Uuml; </strong>&Ccedil;imento kirlenmesine maruz kalmış &ccedil;amurlarda kalsiyum iyonlarını &ccedil;&ouml;keltmek ve Ph&rsquo;ı y&uuml;kseltmek amacıyla kullanılır.</p> </div> </div> </div> </div> </section>");
             $('#pushpre6').text("<section class='wow fadeIn' id='why-us' style='visibility: visible; animation-name: fadeIn;margin-top:5em!important;'> <div class='container-fluid'> <header class='section-header'> <h3>Hakkımızda</h3> </header> <div class='row'> <div class='col-lg-6'> <div class='about-img'><img alt='' src='../images/insta.png' /></div> </div> <div class='col-lg-6'> <div class='why-us-content'> <p>Petroteks Kimya Ltd Şti. 2011 yılında petrol,doğalgaz, jeotermal, maden ve su sondajlarında gerekli olan t&uuml;m mineral, kimyasal ve ekipmanları tedarik etmek &uuml;zere kurulmuştur</p> <div class='features wow bounceInUp clearfix' style='visibility: visible; animation-name: bounceInUp;'><i class='fa fa-diamond' style='color: #f058dc;'></i> <h4>Standart ve Kalitemiz</h4> <p>2015 yılında kurduğumuz RBS Reşadiye Bentonit Madencilik Sanayi Ltd Şti. &rsquo;nin Tokat Reşadiye&rsquo;de sahibi olduğu 659 hektar bentonit sahamızdan &ccedil;ıkartılan, doğal sodyum bentoniti, Drillben markası ile, Niksar Organize Sanayi B&ouml;lgesinde 16.000 m2 ye kurulu mikronizasyon tesisimizde API 13 ve TSE EN ISO 13500 standartlarına uygun şekilde işleyerek yurti&ccedil;i ve yurdışı piyasalara sunmaktayız.</p> </div> <div class='features wow bounceInUp clearfix' style='visibility: visible; animation-name: bounceInUp;'><i class='fa fa-bullseye' style='color: #ffb774;'></i> <h4>Misyonumuz</h4> <p>Petroteks Ltd Şti olarak misyonumuz, sondajda b&uuml;y&uuml;k &ouml;nem taşıyan sondaj akışkanları konusunda, sondaj kimyasalları konusundaki tecr&uuml;bemizle, her zaman en doğru kimyasalı ve en kaliteli katkıları , en uygun maliyetle &uuml;retmek ve tedarik etmektir.</p> </div> </div> </div> </div> </div> </section>");


        });


    </script>
}