@model MainPage
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Description;
    ViewData["MetaTags"] = Model.MetaTags;
    ViewData["Keywords"] = Model.Keywords;
}


@Html.Raw(Model.Slider)
@Html.Raw(Model.TopContent)





<section class="page-section bg-dark-lighter" data-background="images/finance/section-bg-2.jpg" style="background-image: url(&quot;images/finance/section-bg-2.jpg&quot;);">
    <div class="container relative">

        <div class="row alt-features-grid font-alt">

            <!-- Features Item -->
            <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon white">
                        <span class="icon-presentation"></span>
                    </div>
                    <h3 class="alt-features-title">Kaliteli Hizmet</h3>
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon white">
                        <span class="icon-presentation"></span>
                    </div>
                    <h3 class="alt-features-title">Uygun Fiyat</h3>
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon white">
                        <span class="icon-presentation"></span>
                    </div>
                    <h3 class="alt-features-title">Maksimum Fayda</h3>
                </div>
            </div>
            <!-- End Features Item -->

        </div>

    </div>
</section>
@Html.Raw(Model.BottomContent)