@model PageViewModel
@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm())
{
    <textarea id="editor" name="Content">
        @Html.Raw(Model.Content)
    </textarea>
    <br />
    <input type="submit" value="Save" />
}


<!-- About Section -->
<section class="page-section pt-80 pt-sm-60 pt-xs-40 bg-gray-lighter">
    <div class="relative">

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">


                    <div class="row">

                        <div class="col-sm-6">

                            <div class="section-text mb-70 mb-xs-40">

                                <h2 class="section-title align-left hs-line-12 color-navy-blue">YENİLİKÇİ ÇÖZÜMLER</h2>

                                <p>
                                    Kuruluşumuzdan bu yana Uygun fiyat, maksimum fayda ilkesi ile sondaj makineleri, sondaj ekipmanları gibi sondaj operasyonlarında neye ihtiyaç duyulursa taleplerinizi eksiksiz karşılamak ve sizlere en kaliteli hizmeti sunma arzusundayız.
                                </p>




                            </div>

                        </div>

                        <div class="col-sm-6">

                            <!-- Photo -->
                            <div class="tilt-wrap mb-80 mb-xs-50">
                                <img src="http://www.petroteks.com/tr/wp-content/uploads/2019/12/WeChat-Image_20191015151414.png" width="500" height="500" alt="" />
                                <img src="http://www.petroteks.com/tr/wp-content/uploads/2019/12/WeChat-Image_20191015151414.png" width="500" height="500" alt="" class="tilt-effect" />
                            </div>
                            <!-- End Photo -->

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<!-- End About Section -->




<section class="page-section bg-dark-lighter" data-background="images/finance/section-bg-2.jpg" style="background-image: url(&quot;images/finance/section-bg-2.jpg&quot;);">
    <div class="container relative">

        <div class="row alt-features-grid font-alt">

            <!-- Features Item -->
            <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon white">
                        <span class="icon-presentation"></span>
                    </div>
                    <h3 class="alt-features-title">Kaliteli Hizmet</h3>
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon white">
                        <span class="icon-presentation"></span>
                    </div>
                    <h3 class="alt-features-title">Uygun Fiyat</h3>
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon white">
                        <span class="icon-presentation"></span>
                    </div>
                    <h3 class="alt-features-title">Maksimum Fayda</h3>
                </div>
            </div>
            <!-- End Features Item -->

        </div>

    </div>
</section>
