@{
    ViewData["Title"] = "Home Page";
}
<!-- About Section -->
<section class="page-section pt-80 pt-sm-60 pt-xs-40 bg-gray-lighter">
    <div class="relative">

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">


                    <div class="row">

                        <div class="col-sm-6">

                            <div class="section-text mb-70 mb-xs-40">

                                <h2 class="section-title align-left hs-line-12 color-navy-blue">YENİLİKÇİ ÇÖZÜMLER</h2>

                                <p>
                                    Kuruluşumuzdan bu yana Uygun fiyat, maksimum fayda ilkesi ile sondaj makineleri, sondaj ekipmanları gibi sondaj operasyonlarında neye ihtiyaç duyulursa taleplerinizi eksiksiz karşılamak ve sizlere en kaliteli hizmeti sunma arzusundayız.
                                </p>




                            </div>

                        </div>

                        <div class="col-sm-6">

                            <!-- Photo -->
                            <div class="tilt-wrap mb-80 mb-xs-50">
                                <img src="http://www.petroteks.com/tr/wp-content/uploads/2019/12/WeChat-Image_20191015151414.png" width="500" height="500" alt="" />
                                <img src="http://www.petroteks.com/tr/wp-content/uploads/2019/12/WeChat-Image_20191015151414.png" width="500" height="500" alt="" class="tilt-effect" />
                            </div>
                            <!-- End Photo -->

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<!-- End About Section -->




<section class="page-section bg-dark-lighter" data-background="images/finance/section-bg-2.jpg" style="background-image: url(&quot;images/finance/section-bg-2.jpg&quot;);">
    <div class="container relative">

        <div class="row alt-features-grid font-alt">

            <!-- Features Item -->
            <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon white">
                        <span class="icon-presentation"></span>
                    </div>
                    <h3 class="alt-features-title">Kaliteli Hizmet</h3>
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon white">
                        <span class="icon-presentation"></span>
                    </div>
                    <h3 class="alt-features-title">Uygun Fiyat</h3>
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon white">
                        <span class="icon-presentation"></span>
                    </div>
                    <h3 class="alt-features-title">Maksimum Fayda</h3>
                </div>
            </div>
            <!-- End Features Item -->

        </div>

    </div>
</section>



<!-- Blog Section -->
<section class="page-section" id="news">
    <div class="container relative">

        <h2 class="section-title hs-line-12 color-navy-blue align-left mb-70 mb-sm-40">
            PETROBLOG

            <a href="blog-classic-sidebar-right.html" class="section-more right">TÜM HABERLER<i class="fa fa-angle-right"></i></a>

        </h2>

        <div class="row multi-columns-row">

            <!-- Post Item -->
            <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">

                <div class="post-prev-img">
                    <a href="blog-single-sidebar-right.html"><img src="images/blog/post-prev-1.jpg" alt="" /></a>
                </div>

                <div class="post-prev-title font-alt">
                    <a href="">SONDAJ NEDİR?</a>
                </div>

                <div class="post-prev-info font-alt">
                    <a href="">John Doe</a> | 10 December
                </div>

                <div class="post-prev-text">
                    Sondaj; yeryüzünde çeşitli sebeplerle delik açmaya yarayan yöntemlere verilen isimdir. Kayaları parçalamak […]
                </div>

                <div class="post-prev-more">
                    <a href="" class="btn btn-mod btn-gray btn-round">DETAY <i class="fa fa-angle-right"></i></a>
                </div>

            </div>
            <!-- End Post Item -->
            <!-- Post Item -->
            <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">

                <div class="post-prev-img">
                    <a href="blog-single-sidebar-right.html"><img src="images/blog/post-prev-2.jpg" alt="" /></a>
                </div>

                <div class="post-prev-title font-alt">
                    <a href="">SONDAJ NEDİR?</a>
                </div>

                <div class="post-prev-info font-alt">
                    <a href="">John Doe</a> | 9 December
                </div>

                <div class="post-prev-text">
                    Sondaj; yeryüzünde çeşitli sebeplerle delik açmaya yarayan yöntemlere verilen isimdir. Kayaları parçalamak […]
                </div>

                <div class="post-prev-more">
                    <a href="" class="btn btn-mod btn-gray btn-round">DETAY <i class="fa fa-angle-right"></i></a>
                </div>

            </div>
            <!-- End Post Item -->
            <!-- Post Item -->
            <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.3s" data-wow-duration="2s">

                <div class="post-prev-img">
                    <a href="blog-single-sidebar-right.html"><img src="images/blog/post-prev-3.jpg" alt="" /></a>
                </div>

                <div class="post-prev-title font-alt">
                    <a href="">SONDAJ NEDİR?</a>
                </div>

                <div class="post-prev-info font-alt">
                    <a href="">John Doe</a> | 7 December
                </div>

                <div class="post-prev-text">
                    Sondaj; yeryüzünde çeşitli sebeplerle delik açmaya yarayan yöntemlere verilen isimdir. Kayaları parçalamak […]
                </div>

                <div class="post-prev-more">
                    <a href="" class="btn btn-mod btn-gray btn-round">DETAY <i class="fa fa-angle-right"></i></a>
                </div>

            </div>
            <!-- End Post Item -->

        </div>

    </div>
</section>
<!-- End Blog Section -->
<!-- Call Action Section -->
<!-- Section -->
<section class="page-section bg-dark-alfa-70" data-background="images/finance/section-bg-2.jpg" style="padding: 100px 0;">
    <div class="container relative">

        <!-- Features Grid -->
        <div class="item-carousel owl-carousel">

            <!-- Features Item -->
            <div class="features-item">
                <div class="features-icon">
                    <img src="http://www.petroteks.com/tr/wp-content/uploads/2019/12/APIBARITE-logo-petroteks-joker-medya.png" />
                </div>

            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="features-item">
                <div class="features-icon">
                    <img src="http://www.petroteks.com/tr/wp-content/uploads/2019/12/PELLETONIT-s%C4%B1v%C4%B1-sondaj-polimeri-logo-petroteks-joker-medya.png" />
                </div>

            </div>
            <div class="features-item">
                <div class="features-icon">
                    <img src="http://www.petroteks.com/tr/wp-content/uploads/2019/12/APIBARITE-logo-petroteks-joker-medya.png" />
                </div>

            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="features-item">
                <div class="features-icon">
                    <img src="http://www.petroteks.com/tr/wp-content/uploads/2019/12/PELLETONIT-s%C4%B1v%C4%B1-sondaj-polimeri-logo-petroteks-joker-medya.png" />
                </div>

            </div>    <div class="features-item">
                <div class="features-icon">
                    <img src="http://www.petroteks.com/tr/wp-content/uploads/2019/12/APIBARITE-logo-petroteks-joker-medya.png" />
                </div>

            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="features-item">
                <div class="features-icon">
                    <img src="http://www.petroteks.com/tr/wp-content/uploads/2019/12/PELLETONIT-s%C4%B1v%C4%B1-sondaj-polimeri-logo-petroteks-joker-medya.png" />
                </div>

            </div>
            <!-- End Features Item -->

        </div>
        <!-- Features Grid -->

    </div>
</section>
<!-- End Section -->
<!-- End Call Action Section -->