
@{
    ViewData["Title"] = "SondajKopugu";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    ViewBag.Title = "Sondaj Köpüğü Nedir?";
    ViewData["MetaTags"] = $"<meta name='keywords' content='Sonjdaj Köpüğü, Sondaj Bentoniti,  Sondaj Kimyasalları, Sondaj, Sondaj ürünleri' /><meta name='author' content='PETROTEKS SONDAJ KİMYASALLARI VE EKİPMANLARI' /> <meta name='twitter:card' content='summary' /> <meta name='twitter:site' content='https://www.petroteks.com/sondaj-kopugu-nedir.html'/><meta name='twitter:creator' content='@Petroteks'/> <meta property='og:title' content='Sondaj Köpüğü Nedir?'> <meta property='og:type' content='website'> <meta property='og:description' content='Sondaj Köpüğü tanımı, ozellikleri ve kullanim alanlari'> <meta property='og:image' content='https://petroteks.com/ProductImages/3811cbad6efa4fb298fd42dbd616302d_SONDAJKOPU%C4%9E%C3%9C.jpg'> <meta property='og:url' content='https://www.petroteks.com/sondaj-kopugu-nedir.html'/> <meta property='og:title' content='Sondaj Köpüğü Nedir' /><meta property='article:author' content='https://www.facebook.com/petroteksdrilling'>";
}



<section class="about" id="Sondajkopugunedir" style="padding: 150px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="about-img"><img alt="" src="../ProductImages/3811cbad6efa4fb298fd42dbd616302d_SONDAJKOPU%C4%9E%C3%9C.jpg?v=zaQxKrPYvp7l9OqvZo8Wc5hNtSTY3ZYHhLKBKYrqOD0" /></div>
            </div>

            <div class="col-lg-7 col-md-6">
                <div class="about-content">
                    <h2>Sondaj Köpüğü Nedir ?</h2>

                    <p><b>Sondaj Köpüğü</b> en basit tanımıyla havalı sondajlar ve hatta rotary sondajlarda matkap kesintilerinin yüzeye çıkarılmasında, kuyu cidarının korunmasında , sondaj matkabının ve takımının kayganlığının sağlanmasında kullanılan sondaj akışkanı kimyasalıdır.</p>

                    <p><b>Sondaj Köpüğü</b>  yalnızca "sentetik esaslı köpük yapıcı maddeler" değil yüzey aktifler ve köpük yapıcı maddeler içeren ve tamamen doğada çözünebilir güvenli özel bir karışımdır. Tamamen çevre dostudur.</p>
                </div>
            </div>
        </div>
    </div>
</section>
