
@{
    ViewData["Title"] = "Error500";
    Layout = "~/Views/Shared/ErrorLayout.cshtml";
}



<section id="not-found">
    <div id="title">Bir Saniye!</div>
    <div class="circles">
        <p>
            500<br>
               <small>@ViewBag.ErrorMessage, @ViewBag.RouteOfException</small>
        </p>
        <span class="circle big"></span>
        <span class="circle med"></span>
        <span class="circle small"></span>
    </div>
</section>
 
