
@{
    ViewData["Title"] = "HandlePageNotFound";
    Layout = "~/Views/Shared/ErrorLayout.cshtml";

}
    <section id="not-found">
        <div id="title">Bir Saniye!</div>
        <div class="circles">


            <p>
                <img src="~/images/logopetroteks.png" width="250" />
                404<br>
                <small>PAGE NOT FOUND</small>
                <center></center>
            </p>
            <span class="circle big"></span>
            <span class="circle med"></span>
            <span class="circle small"></span>
        </div>
    </section>