
@{
    ViewData["Title"] = "HandleErrorCode";
    Layout = "~/Views/Shared/ErrorLayout";
}



    <section id="not-found">
        <div id="title">Bir Saniye!</div>
        <div class="circles">
            <p>
                @ViewBag.StatusCode<br>
                <small>@ViewBag.ErrorMessage, @ViewBag.RouteOfException</small>
            </p>
            <span class="circle big"></span>
            <span class="circle med"></span>
            <span class="circle small"></span>
        </div>
    </section>

 