@model (Product Ins, string Value, int Power)
@inject IRouteTable routeTable

    <li>
        <a href="@Url.Action("ProductDetail","Detail",new { produtname=GetFriendlyTitle(Model.Ins.SupTitle) , id=Model.Ins.id ,pageTag=routeTable.Get(EntityName.Product,PageType.Detail)})">
            <div class="media"> 
                <div class="pull-left">
                    <i class="circle icofont-street-view"></i>
                </div>
                <div class="media-body">
                    <span class="media-meta pull-right">@Model.Power Eşleşme</span>
                    <h4 class="title">
                        @Model.Ins.Title
                        <span class="pull-right pagado">(Kategori)</span>
                    </h4>
                    <p class="summary"> @Model.Value </p>
                </div>

            </div>
        </a>

    </li>